<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>NSCameraUsageDescription</key>
	<string>GymRat uses the camera to analyze a photo of your pose on this device.</string>
	<key>UIBackgroundModes</key>
	<array/>
	<key>WORKOUTX_API_KEY</key>
	<string>$(WORKOUTX_API_KEY)</string>
</dict>
</plist>
